<!-- Start Footer Area -->
        <section class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                           
                                <h4 class="text-white">Arogyam India Pvt & Research Ltd.</h4>
                                <p>Arogyam India is the first Ayurvedic Multispeciality Hospital
                                     and Research Centre in Purvanchal and the most reputed name
                                      in the Ayurvedic Medical Sector in all over the world. </p>
                         

                            <ul class="social">
                                <li><a routerLink="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a routerLink="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget pl-5">
                            <h3>Top Facilites</h3>

                            <ul class="departments-list">
                                
                                <li><a routerLink="#">Departments</a></li>
                                <li><a routerLink="#">Family</a></li>
                                <li><a routerLink="#">Our Doctors</a></li>
                                <li><a routerLink="#">Child Care</a></li>
                                <li><a routerLink="#">Woman's Health</a></li>
                            </ul> 
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget pl-5">
                            <h3>Top Service </h3>

                            <ul class="links-list">
                                <li><a routerLink="#">Arogyam Heart Care</a></li>
                                <li><a routerLink="#">Arogyam Cancer Care</a></li>
                                <li><a routerLink="#">Arogyam Covid Care</a></li>
                                <li><a routerLink="#">Arogyam Kidney Care</a></li>
                                <li><a routerLink="#">Arogyam Diabities Care</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Opening Hours</h3>

                            <ul class="opening-hours">
                                <li>Mon - Tues <span>9.00AM - 17.00PM</span></li>
                                <li>Wednesday <span>9.00AM - 17.00PM</span></li>
                                <li>Thursday <span>9.00AM - 17.00PM</span></li>
                                <li>Friday <span>9.00AM - 17.00PM</span></li>
                                <li>Saturday <span>Closed</span></li>
                            </ul>
                        </div>
                    </div>
                

                <div class="copyright-area">
                    <p><i class="far fa-copyright"></i>Arogyam India & Research Pvt. Ltd. <a routerLink="#" ></a></p>
                </div>
            </div>
            </div>
        </section>
        <!-- End Footer Area -->