<!-- Start Main Banner Area -->
        <div class="home-slides owl-carousel owl-theme">
            <div class="main-banner item-bg1">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <span>Best Ayurvedic Hospital</span>
                                <h1>Arogyam India is the No. 1 Hospital</h1>
                                <p>
                                    Arogyam India is Ayurvedic Multispeciality Hospital and Research Centre
                                     in India and the most reputed name in the Ayurvedic Medical Sector in
                                      all over the world.
                                    
                                </p>

                               
                            </div>
                        </div>
                    </div>
                </div>

                <div class="circle-shape1"><img src="assets/img/circle-shape1.png" alt="image"></div>
                <div class="circle-shape2"><img src="assets/img/circle-shape2.png" alt="image"></div>
                <div class="shape1"><img src="assets/img/shape/1.png" alt="image"></div>
            </div>

            <div class="main-banner item-bg2">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <span>Women Care</span>
                                <h1>Exceptional Care for Women</h1>
                                <p>
                                    Arogyam India has been known for its successful and 
                                    enriched ayurvedic treatments of millions of patients.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="circle-shape1"><img src="assets/img/circle-shape1.png" alt="image"></div>
                <div class="circle-shape2"><img src="assets/img/circle-shape2.png" alt="image"></div>
                <div class="shape1"><img src="assets/img/shape/1.png" alt="image"></div>
            </div>

            <div class="main-banner item-bg3">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <span>Health Service</span>
                                <h1>Your Health is Our Top Priority</h1>
                                <p>
                                    We are the first Ayurvedic research centre in India,
                                 
                                    who can provide advice on diabetes and other problems through online.
                                </p>

                              
                            </div>
                        </div>
                    </div>
                </div>

                <div class="circle-shape1"><img src="assets/img/circle-shape1.png" alt="image"></div>
                <div class="circle-shape2"><img src="assets/img/circle-shape2.png" alt="image"></div>
                <div class="shape1"><img src="assets/img/shape/1.png" alt="image"></div>
            </div>
        </div>
        <!-- End Main Banner Area -->

            <!-- Start Main Services Area -->
            <section class="main-services-area ptb-100">
                <div class="container">
                    <div class="section-title">
                        <span>Main Features</span>
                        <h2>Our Main Services</h2>
                        <p>----</p>
                    </div>
    
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="main-services-box">
                                <div class="icon">
                                    <i class="flaticon-doctor"></i>
                                </div>
                                <h3> Kidney Care</h3>
                                <p>Arogyam Kidney Care is the core unit of Arogyam
                                     India Ayurvedic Multispeciality Hospitals.</p>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="main-services-box">
                                <div class="icon">
                                    <i class="flaticon-dental-chair"></i>
                                </div>
                                <h3>CBS Care</h3>
                                <p>We provide Ayurveda based Complete Body Scanning procedure with 
                                    modern Techniques.
                                      </p>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="main-services-box">
                                <div class="icon">
                                    <i class="flaticon-care"></i>
                                </div>
                                <h3>Ayurvedic medicine</h3>
                                <p>We have our organic farmhouse, where herbs are grown that is harvest freshly and purely </p>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="main-services-box">
                                <div class="icon">
                                    <i class="flaticon-brain"></i>
                                </div>
                                <h3>Covid Care</h3>
                                <p>Arogyam Covid Care is  unit of Arogyam India deals with
                                     all types of Corona cases regularly </p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="shape2"><img src="assets/img/shape/2.png" alt="image"></div>
            </section>
            <!-- End Main Services Area -->

            <!-- Start About Area -->
        <section class="about-area mb-4">
            <div class="container-fluid p-0">
                <div class="row m-0">
                    <div class="col-lg-6 col-md-12 p-0">
                        <div class="about-image">
                            <img src="assets/img/about-img1.jpg" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 p-0">
                        <div class="about-content">
                            <span>About Us</span>
                            <h2>Short Story About Arogyam India</h2>
                            <p>Arogyam India is Ayurvedic Multispeciality Hospital 
                                and Research Centre in India and the most reputed 
                                name in the Ayurvedic Medical Sector in all over the world. 
                                Arogyam India has been known for its successful and enriched 
                                ayurvedic treatments of millions of patients. </p>

                            <ul>
                                <li><i class="flaticon-check-mark"></i> Scientific Skills For getting a better result</li>
                                <li><i class="flaticon-check-mark"></i> Communication Skills to getting in touch</li>
                                <li><i class="flaticon-check-mark"></i> A Career Overview opportunity Available</li>
                                <li><i class="flaticon-check-mark"></i> A good Work Environment For work</li>
                            </ul>

                          
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Area -->
    